<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
<ul class="navbar-nav">
   <li class="nav-item">
    <button type="button" class="btn btn-primary">
       <a routerLink="users" routerLinkActive="router-link-active"   class="nav-link" ><b style="color: white;">Users List</b></a>
    </button>  
    </li>
    
   <li class="nav-item">
    <button type="button" class="btn btn-primary">
    <a routerLink="register_user" routerLinkActive="router-link-active"   class="nav-link" ><b style="color: white;">Register User</b></a>
    </button>  
</li>
</ul>

<div class="spacer"></div>
    <span><h4 [style.color]="'white'">{{ today | date:'mediumTime'}}</h4></span>
  
</nav>


<h1 style="background-color:royalblue"  class="text-center" [style.color]="'white'">{{title}}</h1>
<div class="container">
    <router-outlet></router-outlet>
</div>



<footer  class="footer">
    <div class="container">
     <span>
         All Rights Reserved 2020 @SNP
     </span>
    </div>
</footer>
